<%= link_to 'New Punch', new_punch_path %>
<h1>Listing punches</h1>
<table class="table table-striped">
  <tr>
    <th>IN</th>
    <th>OUT</th>
    <th>Worked Hours</th>
  </tr>

<% in_outs.each do |in_out| %>
  <tr>
    <td>
      <% if in_out.punch_in %>
        <%= link_to in_out.in, edit_punch_path(in_out.punch_in) %>
      <% end %>
    </td>
    <td>
      <% if in_out.punch_out %>
        <%= link_to in_out.out, edit_punch_path(in_out.punch_out) %>
      <% end %>
    </td>
    <td><%= in_out.hours %></td>
  </tr>
<% end %>
</table>



