<%= link_to 'New Punch', new_punch_path, class: "btn btn-primary" %>
<h1>Listing punches</h1>
<table class="table table-striped">
  <tr>
    <th>IN</th>
    <th>OUT</th>
    <th>Worked Hours</th>
  </tr>

<% in_outs.each do |in_out| %>
  <tr>
    <td>
      <% if in_out.punch_in %>
        <%= link_to in_out.in, edit_punch_path(in_out.punch_in), class: "btn btn-info" %>
      <% end %>
    </td>
    <td>
      <% if in_out.punch_out %>
        <%= link_to in_out.out, edit_punch_path(in_out.punch_out), class: "btn btn-info" %>
      <% end %>
    </td>
    <td><span class="worked-hours"><%= in_out.hours %></span></td>
  </tr>
<% end %>
</table>



