<h1>New punch</h1>

<%= render 'form' %>

<%= link_to 'Back', punches_path, class: "btn" %>
<%= content_for :javascript do %>
  $(function() {
    var currentTime = new CurrentTime(new Date());
    currentTime.setCurrentTime();
  });
<% end %>
