<h1 class="demo-logo">
  <div class="logo"></div>
  <div id="in-out" class="subtitle">
    In-Out<small>make your time easy!</small>
  </div>
</h1>
<div>
  <%= link_to "New Punch", new_punch_path, class: "btn btn-large btn-block btn-primary" %>
</div>
