.in-out.container {
  padding-left: 5%;
  padding-right: 5%;
}

.in-out.subtitle {
  text-align: center;
  margin-bottom: 30px;
}

.workdays-options-container {
  float: right;
}

#punch select {
  width: 115px;
}

#description blockquote {
  margin-bottom: 30px;
}

.worked-hours {
  font-size: 16.5px;
  color: #34495e;
}

ul, ol {
  margin: 0;
}

.worked-hours-list  {
  list-style: none;
}

.punch-list {
  list-style: none;
  margin-top: 50px;
  margin-bottom: 50px;
}

.punch-list li {
  display: inline;
  margin: 20px;
  margin-left: 0px;
}

.punch-in, .punch-out, .worked-hours-clock {
  font-size: 40px;
}

.punch-in {
  color: #1abc9c;
}

.punch-out {
  color: #e74c3c;
}
