<%= link_to 'New Punch', new_punch_path %>
<h1>Listing workdays</h1>

<table class="table table-striped">
  <tr>
    <th>Day</th>
    <th>Worked Hours</th>
    <th></th>
  </tr>

<% @presenter.workdays.each do |workday_presenter| %>
  <tr>
    <td><%= workday_presenter.day.to_s(:day) %></td>
    <td><%= workday_presenter.worked_hours %></td>
    <td><%= link_to 'Show', workday_presenter.workday %></td>
  </tr>
<% end %>
</table>

