<h1>Listing workdays</h1>

<table class="table table-striped">
  <tr>
    <th>Day</th>
    <th></th>
  </tr>

<% @workdays.each do |workday| %>
  <tr>
    <td><%= workday.day.to_s(:day) %></td>
    <td><%= link_to 'Show', workday %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Punch', new_punch_path %>
