<p id="notice"><%= notice %></p>

<p>
  <b>Day:</b>
  <%= @workday.day.to_s(:day) %>
</p>
<%= render :partial => "punches/list", :locals => { :punches => @punches } %>


<%= link_to 'Back', workdays_path %>
